/*media query breakpoints
desktop 992px
tablette 768px
mobile <762px 
*/

/*desktop first*/
/*Flexbox, pas Grid*/
/*pixels et pourcentages - pas de REM et EM*/
* {
    box-sizing: border-box;
  }

:root {
  --blue: #0065FC;
  --clearblue: #DEEBFF;
  --gray: #F2F2F2;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

/* HEADER */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  margin-left: 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 20px 0 20px;
}