/*desktop first*/
/*Flexbox, pas Grid*/
/*pixels et pourcentages - pas de REM et EM*/
* {
    box-sizing: border-box;
  }

:root {
  --blue: #0065FC;
  --clearblue: #DEEBFF;
  --gray: #F2F2F2;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

/* Header */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

nav img {
  /*edit logo image*/
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

nav li {
  margin: 0 10px 0 10px;
}

nav li a:link {
  text-decoration: none;
}

/* Main */

h1 {
  font-size: small;
}

h2 {
  font-weight: bold;
  font-size: small;
}

h3 {
  font-weight: bolder;
  font-size: xx-small;
  margin: 0%;
}

h4 {
  font-weight: normal;
  font-size: xx-small;
  margin: 0%;
}

p {
  font-size: xx-small;
}

/* Section: Hébergements à Marseille et Les plus populaires */

.housing-and-popular-section {
  display: flex;
}

/* Section: Hébergements à Marseille */
.housing-section, .popular-section {
  background-color: #F2F2F2;
  border-radius: 30px;
  display: flex;
  border: 15px white solid;
}

.housing-section {
  flex: 2;
  flex-direction: column;
}

.popular-section {
  flex: 1;
  flex-direction: column;
  align-items: center;
  /*padding: 10px;*/
}

.housing-cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.housing-cards {
  display: flex;
  flex-direction: row;
}

.card {
  background-color: white;
  border-radius: 15px;
  border: 5px white solid;
  flex: 1;
  width: 163px;
  margin: 2%;
}

.card-image {
  width: 100%;
  height: 79px;
  object-fit: cover;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.card-body {
  padding: 1% 2%;
}

#show-more {
  /*afficher plus*/
}

/* Section: Les plus populaires */

.popular-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

.card-popular {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  border: 5px white solid;
  height: 100px;
  width: 100%;
  margin-bottom: 15px;
}

.card-image-popular {
  height: 100%;
  width: 40%;
  object-fit: cover;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

}

.card-body-popular {
  padding: 1% 2%;
  height: 100%;
}

/* Section: Activités à Marseille */
/* Footer */

/*breakpoint desktop: 992px /// 992px & above - all rules outside of media queries*/
/* 
Media queries 
*/

/*
breakpoint tablette: 768px /// 768px to 991px
*/
/*@media (max-width: 991px) {	
  nav {
    flex-direction: column;
  }

  .housing-cards {
    flex-direction: column;
  }
}*/

/*
breakpoint mobile: <768px /// 0px to 767px
*/
@media (max-width: 767px) {
  nav {
    flex-direction: column;
  }

  .housing-cards {
    flex-direction: column;
  }

  .housing-and-popular-section {

    flex-direction: column;
  }
}