/*desktop first*/
/*Flexbox, pas Grid*/
/*pixels et pourcentages - pas de REM et EM*/
* {
    box-sizing: border-box;
  }

:root {
  --blue: #0065FC;
  --clearblue: #DEEBFF;
  --gray: #F2F2F2;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

/* Header */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

nav img {
  /*edit logo image*/
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

nav li {
  margin: 0 10px 0 10px;
}

nav li a:link {
  text-decoration: none;
}

/* Main */

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bolder;
  font-size: small;
}

h4 {
  font-weight: normal;
  font-size: smaller;
}

/* Section: Hébergements à Marseille */

.housing-section {
  background-color: #F2F2F2;
}

.housing-cards {
  display: flex;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 5px white solid;
  margin: 1%;
  width: 250px;
}

.card-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.card-body {
  padding: 1% 2%;
}


/* Footer */

/*breakpoint desktop: 992px /// 992px & above - all rules outside of media queries*/
/* 
Media queries 
*/

/*
breakpoint tablette: 768px /// 768px to 991px
*/
@media (max-width: 991px) {	
  nav {
    flex-direction: column;
  }

  .housing-cards {
    flex-direction: column;
  }
}

/*
breakpoint mobile: <768px /// 0px to 767px
*/
@media (max-width: 767px) {
  nav {
    flex-direction: column;
  }

  .housing-cards {
    flex-direction: column;
  }
}